/* Nav bar */
nav {
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, .1);
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  /*z-index: 100;*/
}

.menu {
  display: inline-block;
  height: 100%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu ul li {
  display: inline-block;
  padding: 20 15 0 15;
  height: 100%;
}

.menu ul li:hover {
  /*background-color: #fff;*/
}

.menu ul li a {
  font-size: 15px;
  color: #fff;
}

.menu ul li a:hover {
  text-decoration: none;
  color: #dd4814;
}

.menu ul li i {
  width: 30px;
  font-size: 15px;
}

/* Motto */
.motto {
  padding-top: 100px;
  width: 100%;
  height: 700px;
  /*max-height: 100%;*/
  background-image: url('../img/andromeda.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.motto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.motto ul li a {
  border: 1px solid #fff;
  padding: 10 20 10 20;
  /*border-radius: 10px;*/
  min-width: 100px;
  width: auto;
  margin: 10px;
  font-size: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

.motto ul li a i {
  padding-right: 10px;
}

.motto ul li a:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #dd4814;
  text-decoration: none;
}

#responsive-img {
  margin-top: 20px;
  width: 60%;
}

/* Register */
.register {
  z-index: 200;
  /*box-shadow:0 0 15px;*/
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  background: #000;
  opacity: 0.97;

}

#form-register {
  background-color: #fff;
  position: relative;
  left: 37%;
  top: 20%;
  border-left: 1px solid #113951;
  border-right: 1px solid #113951;
  border-bottom: 1px solid #113951;
  width:350px;
}

#top {
  background-color: #113951;
  border-bottom: 1px solid #012B35;
}

#exit {
  margin-top: 5px;
  margin-bottom: 0;
  width: 40px;
  cursor: pointer;
}

#form-register h3{
  margin-top: 10px;
  font-family: Verdana;
  /*font-weight: bold;*/
  color: #fff;
  letter-spacing: 2px;
}

#form-register input{
  width: 80%;
  height: 50px;
  margin-bottom: 15px;
  font-family: cursive;
  text-align: center;
}

#register-button {
  background-color: #113951;
  color: #fff;
  /*letter-spacing: 5px;*/
  font-family: Arial;
  border: none;
}

/* Quotes */
.quotes {
  height: 80px;
}

.quotes div {
  height: 100%;
  text-align: center;
  padding-top: 5px;
}

.quotes div h3 {
  font-family: cursive;
  color: #3D3D3D;
}

/* About */
.about {
  width: 100%;
  min-height: 500px;
  height: auto;
}

.avatar {
  height: 500px;
  background-image: url('../img/avatar2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bio {
  background-color: rgb(247, 247, 247);
  overflow: auto;
  height: 500px;
  text-align: left;
}

.bio h2 {
  font-family: Verdana;
  color: #3D3D3D;
  margin-top: 30px;
  margin-left: 40px;
}

#bio-info {
  font-family: cursive;
  color: #3D3D3D;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 20px;
  text-align:justify;
}

.bio p {
  font-family: cursive;
  color: #3D3D3D;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 20px;
  text-align: right;
}

/* Hobbies */
.hobbies {
  width: 100%;
  min-height: 500px;
  height: auto;
}

.hobbie {
  height: 500px;
  background-image: url('../img/old.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Projects */
.projects {
  min-height: 400px;
  height: auto;
  /*background-color: #fff;*/
  background-image: url('../img/andromeda.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0 20px 0;
}

.work1, .work2, .work3 {
  padding: 30px;
  height: auto;
  text-align: center;
  border-right: 1px solid silver;
}


.icons {
  width: 100px;
  margin-bottom: 30px;
}

.description {
  font-family: cursive;
  text-align:justify;
  color: rgb(247, 247, 247);
}

.description:hover {
  /*background-color: rgba(65, 131, 196, .6);*/
  /*background-color: #337ab7;*/
  background-color: #dd4814;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

/* Footer */
footer {
  min-height: 500px;
  height: auto;
  /*background-color: #DDE1E2;*/
  background-color: #fff;
}

.social-media {
  height: 80px;
  padding-top: 25px;
  text-align: center;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media ul li{
  display: inline-block;
}

.social-media ul li a i {
  font-size: 30px;
  width: 50px;
  color: #000;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover{
  color: #00aced;
}

#google:hover {
  color: #d34836;
}

#github:hover {
  color: #4183c4;
}

#mail:hover {
  color: #7B0099;
}

.copyright {
  height: 80px;
  padding-top: 30px;
  text-align: center;
}

.copyright p {
  font-size: 15px;
  font-weight: bold;
}

.contact-form {
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 6%;
  /*padding-right: 4%;*/
}

#email {
  background-color: #EEEEEE;
  width: 80%;
  padding: 5px;
  margin-bottom: 20px;
  border-left: 3px solid #dd4814;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-family: cursive;
  color: rgba(0, 0, 0, .5);
}

#subject {
  background-color: #EEEEEE;
  width: 80%;
  padding: 5px;
  margin-bottom: 20px;
  border-left: 3px solid #dd4814;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-family: cursive;
  color: rgba(0, 0, 0, .5);
}

#message {
  background-color: #EEEEEE;
  width: 80%;
  padding: 5px;
  height: 250px;
  margin-bottom: 20px;
  resize: none;
  border-left: 3px solid #dd4814;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-family: cursive;
  color: rgba(0, 0, 0, .5);
}

#map {
  width: 80%;
  height: 424px;
}

.breadcrumb {
    /*background-color: #337ab7;*/
  background-image: url('../img/andromeda.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: #2e6da4;
  width: 80%;
}

.active {
  color: #fff;
}

.breadcrumb > .active {
  color: #dd4814;
}

.breadcrumb li a {
  color: #fff;
}

#send {
  background-image: url('../img/andromeda.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none; 
}

label {
  display: block;
  font-family: cursive;
  color: rgba(0, 0, 0, .7);
}

input:focus, textarea:focus {
  outline-color: #dd4814;
}

/* Responsiveness */
@media screen and (max-width: 800px) {

  /* Nav Menu */
  .menu ul li a span {
    display: none;
  }

  #webtech {
    height: 50px;
  }

  .menu ul li a i {
    font-size: 22px;
  }

  /* Motto */
  .motto h1 {
    margin-top: 100px;
    font-size: 20px;
  }

  .motto ul li a{
    display: block;
  }

  #responsive-img {
    width: 100%;
  }


  /* Projects */
  .work1 {
    border-right: none;
    border-bottom: 1px solid silver;
  }

  .work2 {
    border-right: none;
    border-bottom: 1px solid silver;
  }

  /* Footer */
  .copyright {
    padding-top: 0;
  }

  .copyright p {
    border-top: 1px solid silver;
    padding-top: 20px;
  }

  /* Contact */
  #email {
    width: 95%;
  }

  #subject {
    width: 95%;
  }

  #message {
    width: 95%;
    /*height: 250px;*/
  }

  .breadcrumb {
    width: 95%;
  }

  .contact-form {
    padding-right: 0;
  }

  #map {
    width: 95%;
  }

  /* Register */
  #form-register {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }

}

@media screen and (max-width: 500px) {

  /* Nav Menu */
  .menu ul li {
    padding: 5px;
    padding-top: 20px; 
  }

  .menu ul li a i {
    font-size: 18px;
  }  

}
